:root {
    --gradient-1: rgba(255, 255, 255, 0.158);
    --gradient-2: rgba(3, 196, 255, 0.3);
    --gradient: linear-gradient(var(--gradient-1), var(--gradient-2), 45deg);
}
* {
    margin:0px;
    line-height: 1.4;
}
#content-left {
    margin: 0 340px 0 0;
}
.box {
    background:#222; 
    border:1px solid #bcd;
    padding:.65em;
}
html {
    color:white;
    background-color: #111;
    font:normal 100% sans-serif;
}

#navbar {
    min-height: 40px !important;
    padding: 10px 15px !important;
    background: #000;
    border-bottom: var(--gradient);
}
h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
    border-bottom: 1px solid #FFF;
}
#content {
    padding:1em;
}

#content-right {
    float:left;
    width:300px;
    margin-left:-300px;
}

#content-left-wrapper {
    float:left;
    width: 100%;
}